# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TTL=3600 # in seconds
REDIS_TTL_FAILED=86400
REDIS_COUNT_CACHE=10000 # number of items to cache for counts

# Bull Board Admin Credentials
BULLBOARD_USER=admin
BULLBOARD_PASS=supersecret

# QUEUEUES
QUEUE_NAME=utility-queue